*.class
*.yml

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

node_modules/
target/
logs/

src/main/resources/application.yml
src/main/resources/static/app/bundle.js
src/main/resources/static/app/bundle.js.map